{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<div class="navbar-container">
  <app-navbar></app-navbar> <!-- aquí se muestra la barra de navegación -->
</div>
<div class="container">
  <br>
  <header class="jumbotron jumbotron-fluid text-center bg-dark text-white">
    <div class="container">
      <h1 class="display-4 neon-text-green">¡Bienvenido a Battle Way!</h1>
      <p class="lead">La plataforma de juegos competitivos y estratégicos</p>
      <a class="btn btn-lg neon-btn" href="  ">Descarga Battle Way</a>
    </div>
  </header>
  
  <!-- Resto de tu HTML aquí -->

</div>
</body>
</html>